<p id="notice"><%= notice %></p>

<h1>Videos</h1>


<br>

  <section class="jumbotron">
    <div class="container">
      <div class="row text-center">
        <h2>Videos</h2>
        <h3>Our Best Videos</h3>
        <a class="btn btn-primary" href="#">See all</a>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row">

      
      
       <% @videos.each do |video| %>
       
      <div class="col-sm-6">
        <p><%= video.video_title %></p>
        <iframe 
          width="560" 
          height="315" 
          src="<%= video.video_url %>" 
          title="<%= video.video_title %>" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>
      </div>
      
    <% end %>
      
      
    </div>
    <div class="row text-center">
      <a class="btn btn-secondary" href="#">View Complete Catalogue</a>
    </div>
    
    
    
    
    
  </section>
  
  <br>




<%= link_to 'New Video', new_video_path %>


<br>
<table>
  <thead>
    <tr>
      <th>Video title</th>
      <th>Video url</th>
      <th>Video description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.video_title %></td>
        <td><%= video.video_url %></td>
        <td><%= video.video_description %></td>
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

